{{define "content"}}
	<header>
		<h1><a href="/">hjr265.me</a> / Blog</h1>
	</header>
	{{partial "nav.html" .}}

	<div class="wide">
		<div class="main">
			<ul class="posts">
				{{range .Pages.ByWeight}}
					<li>
						<div>
							<a href="{{.Permalink}}">{{.Title}}</a>
						</div>
						<div class="flair">
							<span class="flair__item">{{.PublishDate.Format "January 2, 2006"}}</span>
							{{with .Params.tags}}
								<span class="flair__item">
									{{range sort (first 3 .)}}
										<a class="muted" href="/tags/{{. | lower}}/">#{{.}}</a>
									{{end}}
									{{if gt (len .) 3}}
										<span class="flair__more muted" style="border-bottom: 1px dotted black; cursor: help;">+{{sub (len .) 3}}</span>
									{{end}}
									{{range sort (after 3 .)}}
										<a class="muted" href="/tags/{{. | lower}}/" style="display: none;">#{{.}}</a>
									{{end}}
								</span>
							{{end}}
						</div>
					</li>
				{{end}}
			</ul>
		</div>

		<div class="side">
			<div>
				{{$rsspng := resources.Get "rss.png" | fingerprint}}
				<a href="{{absURL "/blog/index.xml"}}" style="display: flex; align-items: center; gap: 0.5rem;"><img src="{{$rsspng.RelPermalink}}" width="16" style="border-radius: 0.125rem;"> RSS</a>
			</div>

			<br>

			<div class="muted">My Articles Elsewhere</div>
			<div>
				{{range .Site.Data.otherBlogs}}
					<div><a href="{{.link}}" target="_blank" rel="noopener">{{.name}}</a></div>
				{{end}}
			</div>

			<br>

			<div class="muted">Other Blogs I Like to Follow</div>
			<div>
				{{range .Site.Data.readingList}}
					<div><a href="{{.link}}" target="_blank" rel="noopener">{{.name}}</a></div>
				{{end}}
			</div>
		</div>
	</div>

	<script type="text/javascript">
		document.querySelectorAll('.flair__more').forEach(function(el) {
			el.addEventListener('click', function() {
				el.parentNode.querySelectorAll('a').forEach(function(item) {
					item.style.display = 'inline'
				})
				el.style.display = 'none'
			})
		});
	</script>
{{end}}

{{define "styles"}}
	{{$blogcss := resources.Get "blog.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
	<link rel="stylesheet" href="{{$blogcss.RelPermalink}}">
{{end}}
