{{define "head:append"}}
	{{template "_internal/schema.html" .}}
{{end}}

{{define "content"}}
	<article>
		<div><a href="/">hjr265.me</a> / <a href="/blog/">blog</a> /</div>
		<header class="-leaf">
			<h1>{{.Title}}</h1>
			<p>
				{{.PublishDate.Format "January 2, 2006"}}
				{{with .Params.tags}}
					&middot;
					{{range sort .}}
						<a class="muted" href="/tags/{{.}}/">#{{.}}</a>
					{{end}}
				{{end}}
			</p>
		</header>

		<article>
			{{.Content}}
		</article>

		<hr>

		{{ template "_internal/disqus.html" . }}
	</article>


	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BlogPosting",
			"headline": {{.Title}},
			"image": {{.Params.featuredImage | absURL}},
			"datePublished": {{.PublishDate}},
			"dateModified": {{.Lastmod}},
			"author": {
				"@type": "Person",
				"name": {{.Site.Params.author}}
			},
			"mainEntityOfPage": {
				"@type": "WebPage"
			},
			"publisher": {
				"@type": "Person",
				"name": {{.Site.Params.author}}
			},
			"description": {{with .Description}}{{.}}{{else}}{{if .IsPage}}{{.Summary}}{{else}}{{with .Site.Params.description}}{{.}}{{end}}{{end}}{{end}},
			"keywords": [{{range $i, $e := .Params.tags}}{{if $i}}, {{end}}{{$e}}{{end}}]
		}
	</script>
{{end}}

{{define "styles"}}
	{{$blogcss := resources.Get "blog.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
	<link rel="stylesheet" href="{{$blogcss.RelPermalink}}">
{{end}}
