{{define "head:append"}}
	{{template "_internal/schema.html" .}}
{{end}}

{{define "content"}}
	<article>
		<div><a href="/">hjr265.me</a> / <a href="/blog/">blog</a> /</div>
		<header class="-leaf">
			<h1>{{.Title}}</h1>
			<div class="flair">
				<span class="flair__item">{{.PublishDate.Format "January 2, 2006"}}</span>
				{{with .Params.tags}}
					<span class="flair__item">
						{{range sort .}}
							<a class="muted" href="/tags/{{. | lower}}/">#{{.}}</a>
						{{end}}
					</span>
				{{end}}
			</div>
		</header>

		<div class="wide">
			<div class="main">
				<article>
					{{.Content}}

					{{if in .Params.tags "100DaysToOffload"}}
						{{$nth := 0}}
						{{$pages := where .Site.Pages "Params.tags" "intersect" (slice "100DaysToOffload")}}
						{{range $i, $_ := $pages}}
							{{if eq .Permalink $.Permalink}}
								{{$nth = sub (len $pages) $i}}
							{{end}}
						{{end}}
						<br>
						<p><em>This post is {{$nth | humanize}} of my <a href="/tags/100daystooffload/">#100DaysToOffload</a> challenge. Want to get involved? Find out more at <a href="https://100daystooffload.com/" target="_blank" rel="noreferrer noopener">100daystooffload.com</a>.</em></p>
					{{end}}
				</article>
			</div>

			{{if .Params.toc}}
				<div class="side">
					<div class="muted">Table of Contents</div>
					<div>
						{{.TableOfContents}}
					</div>
					<style type="text/css">
						#TableOfContents {
							font-size: 1rem;
							line-height: 1.75rem;
						}
						#TableOfContents ul {
							list-style: none;
							margin: 0;
							padding: 0;
						}
						#TableOfContents ul li {
							margin: 0.25rem 0;
						}
						#TableOfContents ul ul {
							{{if .Params.toch2only}}
								display: none;
							{{end}}
							margin-left: 0.75rem;
						}
					</style>
				</div>
			{{end}}
		</div>

		<hr>

		{{ template "_internal/disqus.html" . }}
	</article>


	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BlogPosting",
			"headline": {{.Title}},
			"image": {{.Params.featuredImage | absURL}},
			"datePublished": {{.PublishDate}},
			"dateModified": {{.Lastmod}},
			"author": {
				"@type": "Person",
				"name": {{.Site.Params.author}}
			},
			"mainEntityOfPage": {
				"@type": "WebPage"
			},
			"publisher": {
				"@type": "Person",
				"name": {{.Site.Params.author}}
			},
			"description": {{with .Description}}{{.}}{{else}}{{if .IsPage}}{{.Summary}}{{else}}{{with .Site.Params.description}}{{.}}{{end}}{{end}}{{end}},
			"keywords": [{{range $i, $e := .Params.tags}}{{if $i}}, {{end}}{{$e}}{{end}}]
		}
	</script>
{{end}}

{{define "styles"}}
	{{$blogcss := resources.Get "blog.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
	<link rel="stylesheet" href="{{$blogcss.RelPermalink}}">
	{{if .Params.katex}}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.css">
	{{end}}
{{end}}

{{define "scripts"}}
	{{if .Params.katex}}
		<script src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.js"></script>
		<script type="text/javascript">
			document.querySelectorAll('.math.-block').forEach(function(el) {
				katex.render(el.textContent, el)
			})
		</script>
	{{end}}
{{end}}
