<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}{{if not .IsHome}} &middot; hjr265.me{{end}}</title>

		{{$iconpng := resources.Get "apple-touch-icon.png" | fingerprint}}
		<link rel="apple-touch-icon" sizes="180x180" href="{{$iconpng.RelPermalink}}">
		{{$iconpng = resources.Get "favicon-32x32.png" | fingerprint}}
		<link rel="icon" type="image/png" sizes="32x32" href="{{$iconpng.RelPermalink}}">
		{{$iconpng = resources.Get "favicon-16x16.png" | fingerprint}}
		<link rel="icon" type="image/png" sizes="16x16" href="{{$iconpng.RelPermalink}}">

		{{template "_internal/opengraph.html" .}}
		{{template "_internal/twitter_cards.html" .}}

		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{$screencss := resources.Get "screen.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
		<link rel="stylesheet" href="{{$screencss.RelPermalink}}">

		{{block "styles" .}}{{end}}
	</head>

	<body>
		<div class="page">
			{{block "content" .}}{{end}}
		</div>

		<script>
			document.querySelectorAll('dfn').forEach(function(el) {
				var text = el.textContent
				  , title = el.title;
				el.addEventListener('click', function() {
					el.textContent = text + ' (' + title + ')';
				});
			});
			
			document.querySelectorAll('a.email').forEach(function(el) {
				var email = el.textContent;
				el.textContent = email;
				el.href = 'mailto:' + email;
			});
		</script>

		{{block "scripts" .}}{{end}}

		{{partial "goatcounter.html"}}
	</body>
</html>
