{{define "content"}}
	<header>
		<h1><a href="/">hjr265.me</a> / {{.Title}}</h1>
	</header>
	{{partial "nav.html" .}}

	{{range .Resources.Match "*.md"}}
		{{$website := .Params.website}}
		{{$stars := 0}}
		{{$downloads := 0}}

		{{with .Params.github}}
			{{$githubData := getJSON "https://api.github.com/repos/" .}}
			{{$website = . | printf "https://github.com/%s"}}
			{{with $githubData}}
				{{$stars = .stargazers_count}}
			{{end}}
		{{end}}

		{{with .Params.npm}}
			{{$npmData := getJSON "https://api.npmjs.org/versions/" . "/last-week"}}
			{{with $npmData}}
				{{range .downloads}}
					{{$downloads = add $downloads .}}
				{{end}}
			{{end}}
		{{end}}

		<article>
			<h2>{{.Title}}</h2>
			
			{{if or $website $stars $downloads .Params.flairs .Params.company}}
				<div class="flair">
					<a class="flair__item" href="{{$website}}" target="_blank">{{partial "prettyurl" $website}}</a>
					{{with $stars}}
						<span class="flair__item">
							{{$starsvg := resources.GetMatch "star.svg" | fingerprint}}
							<img src="{{$starsvg.RelPermalink}}" style="height: 1em; vertical-align: text-top;"> {{template "intmetric" $stars}}
						</span>
					{{end}}
					{{if $downloads}}
						<span class="flair__item">
							{{$downloadsvg := resources.GetMatch "download.svg" | fingerprint}}
							<img src="{{$downloadsvg.RelPermalink}}" style="height: 1em; vertical-align: text-top;"> {{template "intmetric" $downloads}}/week <a href="https://www.npmjs.com/package/{{.Params.npm}}" target="_blank">via npmjs.com</a>
						</span>
					{{end}}
					{{range .Params.flairs}}
						{{$iconsvg := resources.GetMatch .icon | fingerprint}}
						<a href="{{.link}}" target="_blank"><img src="{{$iconsvg.RelPermalink}}" style="height: 1em; vertical-align: text-top;"> {{.text}}</a>
					{{end}}
					{{with .Params.company}}
						{{$iconsvg := resources.GetMatch "company.svg" | fingerprint}}
						<span class="flair__item"><img src="{{$iconsvg.RelPermalink}}" style="height: 1em; vertical-align: text-top;"> {{.}}</span>
					{{end}}
					{{with .Params.period}}
						<span class="flair__item">{{.}}</span>
					{{end}}
				</div>
			{{end}}

			{{.Content}}

			{{with .Params.stack}}
				<p class="meta">
					{{$stacksvg := resources.GetMatch "stack.svg" | fingerprint}}
					<img class="meta__icon" src="{{$stacksvg.RelPermalink}}">
					<span class="meta__text">{{delimit . ", "}}</span>
				</p>
			{{end}}
		</article>
	{{end}}
{{end}}

{{define "styles"}}
	{{$projectsscss := resources.Get "projects.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
	<link rel="stylesheet" href="{{$projectsscss.RelPermalink}}">
{{end}}

{{define "intmetric" -}}
	{{- if gt . 1000 -}}
		{{- (div . 1000) | printf "%0.0fk" -}}
	{{- else -}}
		{{- . -}}
	{{- end -}}
{{- end}}
