{{define "content"}}
	<header>
		<h1><a href="/">hjr265.me</a> / Experience</h1>
	</header>
	{{partial "nav.html" .}}

	{{range sort (.Resources.Match "*.md") "Params.order" "desc"}}
		{{$website := .Params.website}}

		<article>
			<h2>{{.Title}} <small>({{.Date.Format "Jan '06"}})</small></h2>
			
			<div class="flair">
				<span class="flair__item">{{.Params.medium}}</span>
			</div>

			<p><a href="{{.}}" target="_blank">{{partial "prettyurl" .Params.link}}</a></p>

			{{.Content}}

			<p>{{.Params.authors}}</p>
		</article>
	{{end}}
{{end}}

{{define "styles"}}
	{{$publicationsscss := resources.Get "publications.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
	<link rel="stylesheet" href="{{$publicationsscss.RelPermalink}}">
{{end}}

{{define "intmetric" -}}
	{{- if gt . 1000 -}}
		{{- (div . 1000) | printf "%0.0fk" -}}
	{{- else -}}
		{{- . -}}
	{{- end -}}
{{- end}}
