{{define "content"}}
	{{partial "header.html" "Timeline"}}
	{{partial "nav.html" .}}

	<div class="timeline">
		{{$lastYear := 0}}
		{{range sort (.Resources.Match "*.md") "Date" "desc"}}
			{{if ne $lastYear .Date.Year}}
				{{$lastYear = .Date.Year}}
				<div class="timeline__year">{{$lastYear}}</div>
			{{end}}
			<div class="timeline__event">
				{{$iconfile := "books.svg"}}
				{{if eq .Params.branch "work"}}{{$iconfile = "company.svg"}}
				{{else if eq .Params.branch "family"}}{{$iconfile = "heart.svg"}}
				{{else if eq .Params.branch "competition"}}{{$iconfile = "star.svg"}}
				{{end}}
				{{$iconsvg := resources.GetMatch $iconfile}}
				<div class="timeline__icon {{with .Params.color}}-{{.}}{{end}}">
					{{$iconsvg.Content | safeHTML}}
				</div>
				<div class="timeline__body">
					{{.Title}}
					<div class="timeline__meta flair">
						<span class="flair__item">{{.Date.Format "January"}}</span>
						{{with .Params.agency}}
							<span class="flair__item">{{.}}</span>
						{{end}}
						{{with .Params.detail}}
							<span class="flair__item">{{.}}</span>
						{{end}}
						{{range .Params.flairs}}
							<span class="flair__item"><a class="muted" href="{{.link}}">{{.text}}</a></span>
						{{end}}
					</div>
				</div>
			</div>
		{{end}}
	</div>
{{end}}

{{define "styles"}}
	{{$timelinescss := resources.Get "timeline.scss" | resources.ExecuteAsTemplate "" . | toCSS | minify | fingerprint}}
	<link rel="stylesheet" href="{{$timelinescss.RelPermalink}}">
{{end}}

{{define "scripts"}}
{{end}}
