ul.posts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-bottom: 1.5em;
    }
}
article > p > img,
article > p > a > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.highlight {
    margin-bottom: 1rem;
    overflow: auto;
    background-color: #272822;

    pre {
        display: block;
        margin: 0;
        padding: 0.25rem 0.5rem;
        line-height: 1rem;
    }

    table td:first-child pre {
        padding: 0.25rem 0 0.25rem 0.25rem;
    }
}
hr {
    width: 100px;
    margin: 50px auto;
    border: none;
    border-top: 3px solid #0099e5;
}