ul.posts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-bottom: 1.5em;
    }
}
ul.terms {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-bottom: 0.25rem;
    }
}
article {
    > * {
        margin-top: 0;
    }
    > * + * {
        margin-top: 1rem;
    }
}
article h1 {
    line-height: 2.25rem;
}
article > p > img,
article > p > a > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.highlight {
    margin-bottom: 1rem;
    overflow: auto;
    background-color: #272822;

    pre {
        display: block;
        margin: 0;
        padding: 0.25rem 0.5rem;
        line-height: 1rem;
    }

    table td:first-child pre {
        padding: 0.25rem 0 0.25rem 0.25rem;
    }
}
hr {
    width: 100px;
    margin: 50px auto;
    border: none;
    border-top: 3px solid #0099e5;
}
figure {
    margin: 0;
    text-align: center;

    figcaption {
        text-align: center;
        color: #5c6873;
    }

    picture img {
        max-width: 100%;
        margin: 0 auto;
    }
}
blockquote {
    margin: 0;
    padding: 0.5rem 1rem;
    border-left: 3px solid #0099e5;

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}
p code {
    padding: 0.125rem 0.25rem;
    border-radius: 0.375rem;
    background-color: #eef3ef;
}
.main .toc {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 1px dashed #5c6873;
    border-radius: 0.375rem;

    &[open] {
        display: block;
    }

    summary {
        list-style: none;
        color: #5c6873;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }
    }
}
@media (min-width: 1200px) {
    .main .toc {
        display: none;
    }
}
@media (max-width: 1199px) {
    .side .toc {
        display: none;
    }
}
.box {
    border: 1px dashed #5c6873;

    &__body {
        padding: 1rem 1.25rem;
        > * {
            margin-top: 0;
        }
        > * + * {
            margin-top: 1rem;
        }
    }

    &:not([open]) {
        cursor: pointer;
    }

    &:not([open]) &__body {
        height: 7rem;
        overflow-y: hidden;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.25)));
        mask-image: gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.25)));
    }
}