@font-face {
    font-family: 'Rubik';
    src: url('/rubik-regular-webfont.woff2') format('woff2'),
        url('/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('/rubik-italic-webfont.woff2') format('woff2'),
        url('/rubik-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('/rubik-medium-webfont.woff2') format('woff2'),
        url('/rubik-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('/rubik-mediumitalic-webfont.woff2') format('woff2'),
        url('/rubik-mediumitalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Agave';
    src: url('/Agave-Regular.woff2') format('woff2'),
        url('/Agave-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
}
html {
    scroll-padding-top: 1.5em;
    scroll-behavior: smooth;
}
body {
    display: flex;
    padding: 2em;
    font: 16px/1.75em 'Rubik';
    {{$bgpng := resources.Get "crossword.png" | fingerprint}}
    background: url({{$bgpng.RelPermalink}});
}
.page {
    max-width: 750px;
}
.wide {
    position: relative;
}
.side {
    padding-top: 1.5em;
}
@media (max-width: 1199px) {
    .side {
        margin-top: 2.5em;
        padding-top: 2.5em;
        border-top: 1px solid lightgrey;
        border-image: linear-gradient(to right, lightgrey 80%, transparent) 100% 1;
    }
}
@media (min-width: 1200px) {
    .side {
        position: absolute;
        top: 0;
        left: 100%;
        width: 250px;
        margin-left: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 2.5em;
        border-left: 1px solid lightgrey;
        border-image: linear-gradient(to bottom, lightgrey 80%, transparent) 1 100%;
    }
}
a {
    text-decoration: none;
    color: #207cbb;
}
a:hover {
    color: #195e8e;
}
a.muted, a.muted:hover {
    text-decoration: none;
    color: #5c6873;
}
a.subtle, a.subtle:hover {
    text-decoration: none;
    color: black;
}
.muted {
    color: #5c6873;
}
header {
    margin-bottom: 1.5em;

    &:not(.-leaf) {
        text-transform: lowercase;
    }
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
nav {
    margin-bottom: 3em;
    font-size: 1.125em;
}
nav .-active {
    color: black;
}
dfn {
    border-bottom: 1px dotted black;
    font-style: normal;
    cursor: help;
}
p code,
pre code {
    font-family: Agave, monospace;
}
.flair {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.meta {
    display: flex;
    gap: 1em;
    align-items: center;

    &__icon {
        height: 1.25em;
        vertical-align: text-top;
    }
}
