@font-face {
    font-family: 'Space Grotesk';
    src: url('/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('/SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('/SpaceGrotesk-Light.woff2') format('woff2'),
        url('/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('/SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('/SpaceGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Mono';
    src: url('/SpaceMono-Bold.woff2') format('woff2'),
        url('/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Mono';
    src: url('/SpaceMono-Italic.woff2') format('woff2'),
        url('/SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Space Mono';
    src: url('/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('/SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Space Mono';
    src: url('/SpaceMono-Regular.woff2') format('woff2'),
        url('/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
::before,
::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
html {
    scroll-padding-top: 1.5em;
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    padding: 1em;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    {{$bgpng := resources.Get "crossword.png" | fingerprint}}
    background: url({{$bgpng.RelPermalink}});
}
@media (min-width: 1200px) {
    body {
        padding: 2em;
    }
}
.page {
    max-width: 800px;
}
.wide {
    position: relative;
}
.side {
    padding-top: 1.5em;
}
@media (max-width: 1199px) {
    .side {
        margin-top: 2.5em;
        padding-top: 2.5em;
        border-top: 1px solid lightgrey;
        border-image: linear-gradient(to right, lightgrey 80%, transparent) 100% 1;
    }
}
@media (min-width: 1200px) {
    .side {
        position: absolute;
        top: 0;
        left: 100%;
        width: 300px;
        margin-left: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 2.5em;
        border-left: 1px solid lightgrey;
        border-image: linear-gradient(to bottom, lightgrey 80%, transparent) 1 100%;
    }
}
a {
    text-decoration: none;
    color: #207cbb;
}
a:hover {
    color: darken(#207cbb, 25%);
}
a.muted {
    text-decoration: none;
    color: #5c6873;
}
a.muted:hover {
    color: darken(#5c6873, 25%);
}
a.subtle, a.subtle:hover {
    text-decoration: none;
    color: black;
}
.muted {
    color: #5c6873;
}
header {
    margin-bottom: 1.5em;

    &:not(.-leaf) {
        text-transform: lowercase;
    }
}
h1 {
    font-size: 28px;
    font-weight: 600;
}
.menu {
    margin-bottom: 3em;
    font-size: 1.125em;
}
.menu::before {
    content: '[ ';
}
.menu::after {
    content: ' ]';
}
.menu .-active {
    color: black;
}
dfn {
    border-bottom: 1px dotted black;
    font-style: normal;
    cursor: help;
}
p code,
pre code,
pre,
code {
    font-family: 'Space Mono', monospace;
    font-size: 0.85rem;
    line-height: 1.25rem;
}
.flair {
    display: flex;
    gap: 0.5rem 1.5rem;
    flex-wrap: wrap;
}
.meta {
    display: flex;
    gap: 1em;
    align-items: center;

    &__icon {
        height: 1.25em;
        vertical-align: text-top;
    }
}
