.timeline {
    position: relative;
}
.timeline::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    margin-left: 13px;
    border-left: 1px solid grey;
}
.timeline__year {
    color: grey;
    margin: 30px 0 30px 40px;
    text-decoration: underline;
}
.timeline__event {
    display: flex;
    padding: 10px 0;
}
.timeline__icon {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-right: 25px;
    margin-left: 1px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
}
.timeline__icon.-blue {
    background-color: lighten(#005f87, 12.5%);
    border: 2px solid #005f87;
}
.timeline__icon.-red {
    background-color: lighten(#af0000, 12.5%);
    border: 2px solid #af0000;
}
.timeline__icon.-green {
    background-color: lighten(#008700, 12.5%);
    border: 2px solid #008700;
}
.timeline__icon.-orange {
    background-color: lighten(#d75f00, 12.5%);
    border: 2px solid #d75f00;
}
.timeline__meta {
    color: grey;
}
