.timeline {
    position: relative;
}
.timeline::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    margin-left: 13px;
    border-left: 1px solid grey;
}
.timeline__year {
    color: grey;
    text-decoration: underline;
    font-size: 1.125rem;
    margin: 2em 0 0.5em 40px;
}
.timeline__event {
    display: flex;
    padding: 10px 0;
}
.timeline__icon {
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    margin-top: 0;
    margin-right: 20px;
    margin-left: -4px;
    border-radius: 22%;
    border: 1.5px solid #aaa;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
    }
}
.timeline__icon.-blue {
    background-color: #e0f2fe;
    border-color: #0ea5e9;
    color: #0ea5e9;
}
.timeline__icon.-red {
    background-color: #fee2e2;
    border-color: #ef4444;
    color: #ef4444;
}
.timeline__icon.-green {
    background-color: #dcfce7;
    border-color: #22c55e;
    color: #22c55e;
}
.timeline__icon.-orange {
    background-color: #ffedd5;
    border-color: #f97316;
    color: #f97316;
}
.timeline__icon.-purple {
    background-color: #f3e8ff;
    border-color: #a855f7;
    color: #a855f7;
}
.timeline__excerpt {
    color: #555;
    margin-top: 0.1em;
}
.timeline__meta {
    color: grey;
}
