{{define "content"}}
	<header>
		<h1>hjr265.me</h1>
	</header>
	{{partial "nav.html" .}}
	{{.Content}}

	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Person",
			"name": {{.Site.Params.author.name | jsonify}},
			"url": {{.Site.BaseURL | jsonify}},
			"sameAs": [
				"https://github.com/{{.Site.Params.github}}",
				"https://fosstodon.org/@hjr265",
				"https://floss.social/@hjr265",
				"https://www.linkedin.com/in/hjr265/",
				"https://twitter.com/hjr265"
			]
		}
	</script>
{{end}}
